:root {
  --bs-primary-rgb: 249, 200, 0;
  --bs-link-color: rgb(189, 28, 31);
  --bs-secondary-rgb: rgb(189, 28, 31);
  --bs-link-hover-color: rgb(232, 37, 29);
  --header-height: 4em;
  --left-nav-width: 12em;
  --right-nav-width: 16em;
}

#nav-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height)
}

#nav-menu {
  position:fixed;
  top: var(--header-height);
  bottom: 0;
  width: var(--left-nav-width)
}

#nav-sub-menu {
  position:fixed;
  top: var(--header-height);
  right: 0;
  bottom: 0;
  width: var(--right-nav-width);
}

h1, h5 {
  color: rgb(var(--bs-primary-rgb));
}

main {
	position: relative;
	top: var(--header-height);
	left: var(--left-nav-width);
	background-color: black;
	width: calc(100vW - var(--right-nav-width) - var(--left-nav-width));
}

.card {
  background-color: black;
  border: solid 2px rgb(var(--bs-primary-rgb));
}

.card-body {
  color: white;
  opacity: .7;
  background-color: black;
}


/*
    @``````@`@````@`@````@````@@@@@```@@```@@@@@```@@@@``@@@@@@`@@@@@`
    @``````@`@@```@`@```@```````@````@``@``@````@`@````@`@````````@```
    @``````@`@`@``@`@@@@````````@```@````@`@````@`@``````@@@@@````@```
    @``````@`@``@`@`@``@````````@```@@@@@@`@@@@@``@``@@@`@````````@```
    @``````@`@```@@`@```@```````@```@````@`@```@``@````@`@````````@```
    @@@@@@`@`@````@`@````@``````@```@````@`@````@``@@@@``@@@@@@```@```
*/

@keyframes fadeIt {
    0% {
        background-color: rgb(var(--bs-primary-rgb), .5);
    }
    100% {
        background-color: inherit;
    }
}

:target {
    animation: fadeIt 3s ease-out;
    scroll-margin-top: 10rem;
}

/*
    @@@@@@`@````@```@@```@````@`@@@@@``@``````@@@@@@`
    @```````@``@```@``@``@@``@@`@````@`@``````@``````
    @@@@@````@@```@````@`@`@@`@`@````@`@``````@@@@@``
    @````````@@```@@@@@@`@````@`@@@@@``@``````@``````
    @```````@``@``@````@`@````@`@``````@``````@``````
    @@@@@@`@````@`@````@`@````@`@``````@@@@@@`@@@@@@`
*/

.example {
    overflow: auto;
    font-family: monospace;
    font-size: x-small;
}

.example ul {
    list-style: none;
    padding-left: 0;
}

.example ul li::before {
    content: '* ';
}

.example th {
    text-align: left;
}

.example th,
.example td {
    border-left: black solid 1px;
    padding: 0.05em 0.5em;
}

.example th:last-child,
.example td:last-child {
    border-right: black solid 1px;
}

.example tbody tr:nth-child(1) td {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='2' y1='50%25' x2='98%25' y2='50%25' stroke='%23333' stroke-width='1' stroke-dasharray='20%2c 2' stroke-dashoffset='2' /%3e%3c/svg%3e");
    height: 1em;
}

.example table {
    margin-left: 2em;
    margin-top: 1em;
}

/*
    `@@@@``@````@`@@@@@`````@````@`@@@@@@`@````@`@````@`
    @``````@````@`@````@````@@``@@`@``````@@```@`@````@`
    `@@@@``@````@`@@@@@`````@`@@`@`@@@@@``@`@``@`@````@`
    `````@`@````@`@````@````@````@`@``````@``@`@`@````@`
    @````@`@````@`@````@````@````@`@``````@```@@`@````@`
    `@@@@```@@@@``@@@@@`````@````@`@@@@@@`@````@``@@@@``
*/

.tree {
    --spacing : 1.5rem;
    --radius  : 6px;
}

.tree li {
  display      : block;
  position     : relative;
  padding-left : calc(2 * var(--spacing) - var(--radius));
  padding-top: calc(var(--spacing) / 2);
}

.tree ul {
  margin-left  : calc(var(--radius) - var(--spacing));
  padding-left : 0;
}

ul.tree {
  padding-left : 1em;
  width: calc(var(--right-nav-width) - 1em);
}

.tree a {
  font-size: smaller;
}


.tree li::after {
  content       : '';
  display       : block;
  position      : absolute;
  top           : calc(var(--spacing) - var(--radius));
  left          : calc(var(--spacing) - var(--radius));
  width         : calc(2 * var(--radius));
  height        : calc(2 * var(--radius));
  border-radius : 50%;
  background    : var(--bs-link-color);
}

/* lines  */
/* vertical */
.tree ul li{
    border-left : 2px solid black;
}

.tree ul li:last-child{
    border-color : transparent;
}

/* horizontal */
.tree ul li::before{
  content      : '';
  display      : block;
  position     : absolute;
  top          : calc(var(--spacing) / -2);
  left         : -2px;
  width        : calc(var(--spacing) + 2px);
  height       : calc(var(--spacing) * 1.5);
  border       : solid black;
  border-width : 0 0 2px 2px;
}
